.property-types-container{
    text-align: center;
}

.property-types-para{
    color: #7261FF;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 600;
    line-height: 14.3px;
    text-align: center;
}

.property-types-heading{
    font-family: Poppins;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
}

.property-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.property-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #9E9E9E1F;
    margin: 20px;
    border-radius: 5px;
    width: 25%;
    padding: 10px;
}

.card-image-property{
    width: 50px;
    height: 50px;
    padding: 5.96px 0px 5.96px 0px;
    gap: 0px;
    opacity: 0px;
}

.card-text{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 14.3px;
    text-align: center;
}

@media screen and (max-width:768px){
    .card-text{
        font-family: Poppins;
        font-size: 14px;
        font-weight: 600;
        line-height: 9.37px;
        text-align: center;
    }
    .card-image-property{
        width: 38.02px;
        height: 32.78px;
        padding: 0px 1.48px 0px 1.48px;
        gap: 0px;
        opacity: 0px;
    }
    .property-types-heading{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
    }
    .property-types-para{
        font-family: Poppins;
        font-size: 14px;
        font-weight: 600;
        line-height: 14.3px;
        text-align: center;

    }
}